BasedOnStyle: LLVM
IndentWidth: 4

BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: false

BreakBeforeBinaryOperators: All


AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AlignAfterOpenBracket: true

AlignOperands: AlignAfterOperator

IndentCaseLabels: true
AllowShortCaseLabelsOnASingleLine: true

ColumnLimit: 120
